# template .env file
# copy or rename to .env and fill with the appropriate values

# discord bot values
# values generated in the discord developer portal
# https://discord.com/developers/applications
TOKEN=
PERMS=

# admin setup
# determines how many/who has privileged command access
# increase to desired number and add that number of tokens
NUM_ADMINS=1
ADMIN0=
#ADMIN1= user discord token here
#ADMIN2= this is the third admin user

# uberduck api (ai text to speech) [optional]
# https://www.uberduck.ai/
UBERDUCK_API_KEY=
UBERDUCK_API_SECRET=
